#topic{:topic_id => @topic.id}
  .title= @topic.title
  .body= @topic.body
  .actions
    -if can? :create, Comment
      = link_to 'reply', new_topic_comment_url(@topic)
    -if can? :update, @topic
      = link_to 'edit', edit_topic_url(@topic)
    -if can? :destroy, @topic
      = link_to 'delete', topic_url(@topic), :method => :delete, :confirm => "Delete this topic?"
  #comments
    = render :partial => "topics/comment", :collection => @topic.preloaded_comments

:javascript
  $(function() {
    window.Forum.bindVoting();
  });
